@font-face{
    font-family: 'Raleway-Medium';
    src: url('./fonts/Raleway-Medium.ttf');
}


body {
    padding: 0;
    margin: 0;
    background-color: rgb(143, 237, 237);
}

.threeD {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: magenta;
}

#controlButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
 
}

#controlButtons button {
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 40px;
    background-color: rgb(207, 207, 207);
    color: rgb(95, 95, 95);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.75);
    margin: 5px 10px;
    font-family: monospace;
    cursor: pointer;
    outline: none;
}